@tailwind base;
@tailwind components;
@tailwind utilities;

.vazirFont {
  font-family: Vazir , Arial, Helvetica, sans-serif;
}
.boldFont {
  font-weight: 700;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Medium-FD-WOL.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Bold-FD-WOL.woff") format("woff");
  font-weight: 700; 
}
